* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	color: #444444;
	font-family: 'Roboto Slab', Georgia, 'Times New Roman', serif;
	font-size: 24px;
	margin: 0 auto;
	width: 75%;
}

h3 {
	font-variant: small-caps;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
	display: block;
	float: none;
}

.strike {
	text-decoration: line-through;
}

section {
	border-bottom: 1em solid #fafafa;
	padding: 1em 0;
}

section:last-of-type {
	border-bottom-width: 0;
}

.list_title, ul {
	float: left;
	vertical-align: top;
	width: 50%;
}

.list_title, ul {
	margin-bottom: 1em;
	margin-top: 0;
}

.gallery {
	margin: 0;
	width: 100%;
}

.gallery li {
	float: left;
	padding: .5em;
	width: 25%;
}

.gallery img {
	border: 4px solid #ffffff;
	box-shadow: 1px 2px 4px #444444;
	display: block;
	height: auto;
	width: 100%;
}

address {
	font-style: normal;
	margin-bottom: 1em;
}

address a {
	color: #444444;
	text-decoration: none;
}

strike {
	color: #cccccc;
}

a.infos {
	color: #cccccc;
	text-decoration: none;
}

a.infos:hover {
	color: #444444;
}

@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
	.list_title, ul {
		float: none;
		width: 100%;
	}

	.list_title {
		font-weight: bold;
		margin-top: 1em;
	}

	.gallery li {
		width: 50%;
	}
	
	.hide-when-small {
		display: none;
	}
}