/* @override 
	http://localhost:8888/marcmachttheater.de/css/style.css?v=1
	http://marcmachttheater.de/css/style.css?v=1
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, figure, footer, header, hgroup, nav, section { display:block; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body { font:13px sans-serif; *font-size:small; *font:x-small; line-height:1.22; }
table { font-size:inherit; font:100%; }
select, input, textarea { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
 
body, select, input, textarea { color:#444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; }
html { -webkit-font-smoothing: antialiased; }
a:hover, a:active { outline: none; }
a, a:active, a:visited { color:#607890; }
a:hover { color:#036; }
ul { margin-left:30px; }
ol { margin-left:30px; list-style-type: decimal; }
small { font-size:85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align:top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { padding: 15px; white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }

/*::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } */

a:link { -webkit-tap-highlight-color: #FF5E99; } 


html { overflow-y: scroll; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }
.hidden { display:none; visibility:hidden; } 
.visuallyhidden { position:absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }


 /* Primary Styles
    Author: Marc-Oliver Teschke
 */

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	background-attachment: fixed;
	background-image: url('/img/background-body.jpg');
	background-position: top left;
	background-repeat: no-repeat;
	background-size: cover;
	color: #eeeeee;
	font-family: 'IM Fell English', Georgia, 'Times New Roman', serif;
	font-size: 26px;
	margin: 0;
}

a {
	color: #ffffff;
}

a:visited {
	color: #bbbbbb;
}

a:hover {
	color: #dddddd;
}

h1 {
	background-color: #666666;
	font-family: 'IM Fell English SC', Georgia, 'Times New Roman', serif;
	font-size: 52px;
	margin: 0 0 1em 0;
	padding: 2em .1em 0 .2em;

	-webkit-border-bottom-right-radius: .2em;
	-webkit-border-bottom-left-radius: .2em;
	-moz-border-radius-bottomright: .2em;
	-moz-border-radius-bottomleft: .2em;
	border-bottom-right-radius: .2em;
	border-bottom-left-radius: .2em;
}

h3 {
	font-family: 'IM Fell English SC', Georgia, 'Times New Roman', serif;
	font-size: 39px;
	margin: 0 0 .5em 0;
}

h1, h3 {
	text-shadow: .1em .1em .2em #444444;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

address {
	font-style: normal;
	margin: .5em 0 0 0;
}

header, section {
	background-color: #444444;
	min-height: 1200px;
	padding: 0 1em;
}

.rgba header, .rgba section {
	background-color: rgba(64, 64, 64, .8);
}

header section, .rgba header section {
	background: none;
}

section {
	padding: 4.5em 1em 1em 1em ;
}

#back_to_top {
	background-color: #000000;
	background: rgba(0, 0, 0, .4);
	padding: .2em .5em;
	position: fixed;
	top: 0;

	-webkit-box-shadow: .1em .1em .4em #444444;

	-webkit-border-bottom-right-radius: .5em;
	-webkit-border-bottom-left-radius: .5em;
	-moz-border-radius-bottomright: .5em;
	-moz-border-radius-bottomleft: .5em;
	border-bottom-right-radius: .5em;
	border-bottom-left-radius: .5em;
}

.navigation a {
	color: #ffffff;
	display: block;
	text-decoration: none;
}

.navigation a:hover {
	text-shadow: .1em .1em .2em #444444;	
}

.navigation li {
	margin-bottom: .25em;
}

section.archive {
	font-size: .7em;
	padding: 0;
	padding-top: 1em;
}

p.list_title {
	margin: 1em 0 .2em 0;
	text-shadow: .1em .1em .2em #444444;
}

header .list_title {
	color: #aaaaaa;
}

/**** Schauspiel Basic ****/
a.link_vhs-schauspiel-basic:hover {
	background-color: #ffa694;
	color: #ce0000;
}

.vhs-schauspiel-basic {
	background-color: rgb(255, 166, 148);
	color: #000000;
}

.rgba .vhs-schauspiel-basic {
	background-color: rgba(255, 166, 148, .8);
}

.vhs-schauspiel-basic a {
	color: #444444;
}

.vhs-schauspiel-basic a:hover {
	color: #888888;
}

.vhs-schauspiel-basic a:visited {
	color: #666666;
}

.vhs-schauspiel-basic h3 {
	color: #ce0000;
}

.vhs-schauspiel-basic p.list_title {
	color: #ce0000;
}

/**** Eine Woche voller Samstage ****/
a#link_unterfeldmaeuse-2010-2011-eine-woche-voller-samstage:hover {
	background-color: #0066b8;
	color: #8dc000;
}

#unterfeldmaeuse-2010-2011-eine-woche-voller-samstage {
	background-color: #0066b8;
	color: #ffffff;
}

.rgba #unterfeldmaeuse-2010-2011-eine-woche-voller-samstage {
	background-color: rgba(0, 102, 184, .8);
}

#unterfeldmaeuse-2010-2011-eine-woche-voller-samstage h3 {
	color: #8dc000;
}

#unterfeldmaeuse-2010-2011-eine-woche-voller-samstage h3 em {
	color: #ee5000;
	font-style: normal;
	text-transform: uppercase;
}

#unterfeldmaeuse-2010-2011-eine-woche-voller-samstage p.list_title {
	color: #ee5000;
}

/**** Was ihr wollt ****/

a#link_was-ihr-wollt-2010-2011:hover {
	background-color: #7a0023;
	color: #f7f490;
}

#was-ihr-wollt-2010-2011 {
	background-color: #7a0023;
	color: #ffffff;
}

.rgba #was-ihr-wollt-2010-2011 {
	background-color: rgba(122, 0, 35, .8);
}

#was-ihr-wollt-2010-2011 h3 {
	color: #f7f490;
}

#was-ihr-wollt-2010-2011 p.list_title {
	color: #f7f490;
}


/**** Ritter Rost ****/

a#link_minestrone-2011-2012-ritter-rost:hover {
	background-color: #ffffff;
	color: #73a2b8;
	text-shadow: .1em .1em .2em #cccccc;
}

#minestrone-2011-2012-ritter-rost {
	background-color: #fff;
	color: #324342;
}

.rgba #minestrone-2011-2012-ritter-rost {
	background-color: rgba(255, 255, 255, .8);
}

#minestrone-2011-2012-ritter-rost a:link {
	color: #324342;
}

#minestrone-2011-2012-ritter-rost h3 {
	color: #73a2b8;
	text-shadow: .1em .1em .2em #cccccc;
}

#minestrone-2011-2012-ritter-rost p.list_title {
	color: #cf6e4c;
	text-shadow: .1em .1em .2em #cccccc;
}


/**** Hamlet ****/

a#link_hamlet-2012:hover {
	background-color: #000000;
	color: #ffffff;
	text-shadow: .1em .1em .2em #cccccc;
}

#hamlet-2012 {
	background-color: #ffffff;
	color: #000000;
}

.rgba #hamlet-2012 {
	background-color: rgba(255, 255, 255, .8);
}

#hamlet-2012 a:link, #hamlet-2012 a:visited {
	color: #444444;
}

#hamlet-2012 h3 {
	color: #000000;
	text-shadow: .1em .1em .2em #cccccc;
}

#hamlet-2012 p.list_title {
	color: #000000;
	text-shadow: .1em .1em .2em #cccccc;
}



/**** Downloads ****/
.downloads header, #downloads {
	min-height: 100%;
}


/* 
 * print styles
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}



@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

/* Grade-A Mobile Browsers */
@media screen and (max-device-width: 480px) {
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } 

}

